<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr>
                <p class="text-faded">My name is Ankita Pise and I am a 23-year-old software developer currently living in the United States. I recently graduated from North Carolina State University with a Masters in Computer Science.</p>
                <p class="text-faded"> Having always been a creative bug, I realized I love to make things that not only look pretty but work well too. And what better way to create fun and useful things than with code and design! At my last internship with <a href="https://docurep.com/">Docurep</a>, I designed and developed a UI styleguide for their web-based applications and one thing I learned through this experience was how important a sense of ownership is in order to produce a world-class product. I try to apply this in every project I take up, whether in a team, or personal.</p>
                <p class="text-faded"> While I am passionate about front-end design and development, my experience at NC State has furnished me with an all-around skill set that I am eager to put to good use as I start my career as a Software Developer. You can check out some of the projects I worked on while at NC State <a href="#portfolio">below!</a></p>
                <p class="text-faded"> I love to dive into new technologies and get to know them more, and in my spare time, I take up projects on my own that can give me the opportunity to learn new and amazing technologies. I am looking for an opportunity where my innate curiosity and drive to learn more will help me put my best foot forward, give my 100% and grow along with the company.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Check out some of my work!</a>
            </div>
        </div>
    </div>
</section>
