<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr>
                <p class="text-faded">My name is Ankita Pise and I am a 26-year-old software developer living in San Jose, California. Currently working as a Software Engineer for <a href="https://www.ibm.com/watson/">IBM Watson's</a> Health Imaging group, I am passionate about building software that can have a positive impact on the lives of the people around me. In short, I am constantly striving at spreading happiness around using the power of technology, one piece of well-designed software at a time!</p>
                <p class="text-faded"> I got my Masters in Computer Science from North Carolina State University. Prior to working for IBM, I worked as a Front-end Engineer at <a href="https://www.pluma.co/">Pluma</a>, and helped develop a mobile application for their executive coaching platform.</p>
                <p class="text-faded">Having always been a creative bug, I realized I love to make things that not only look pretty but work well too. And what better way to create fun and useful things than with code and design! Creating seamless, intuitive and dynamic user experiences has always been the focus of my work and it is something I try to apply to every project I take up.</p>
                <p class="text-faded"> While I am passionate about front-end design and development, my experience at NC State has furnished me with an all-around skill set that I am always looking for an opportunity to put to some good use. You can check out some of the projects I worked on while at NC State <a href="#portfolio">below!</a></p>
                <p class="text-faded">In my spare time, I take up personal projects that give me an opportunity to dip my toes into this myriad of amazing new technologies coming up. I am looking for an opportunity where my innate curiosity and drive to learn more will help me put my best foot forward, give my 100% and grow along with the company.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Check out some of my work!</a>
            </div>
        </div>
    </div>
</section>
