<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/aapise/SAS-Infographics-Toolkit" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/infographics_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                SAS Infographics Toolkit
                            </div>
                            <div class="project-category">
                                UI/UX Design & Development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/aapise/StoryMaps" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/storymaps_logo.JPG" class="img-responsive" alt="" border="20">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                StoryMaps
                            </div>
                            <div class="project-category">
                                Android Mobile Application (Ionic Framework)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/aapise/DireWolf-Job-Portal" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/direwolf_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                DireWolf Job Portal
                            </div>
                            <div class="project-category">
                                Ruby on Rails Web Application
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/aapise/MyMovieFinder" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/moviefinder.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                My MovieFinder
                            </div>
                            <div class="project-category">
                                Android Mobile Application (Ionic Framework)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/aapise/StudyBuddy" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/studybuddy_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                StudyBuddy
                            </div>
                            <div class="project-category">
                                UI/UX Design Prototype
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box" >
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
